*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.skpcf.ShopMainGrid{
    width: 100%;
    height: 100%;
}

.skpcf.ShopMainGrid .Image {
    width: 100%;
    height: 100%;
    background-image: url(./../image.png);
    background-repeat: no-repeat;
    background-size: contain;
}